@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgba(255, 166, 0, 0.979), rgba(255, 166, 0, 0.445));
}
header{
    background: url(../resources/cow-heading.avif);
    background-position:center;
    clip-path: polygon(8% 0, 100% 0%, 94% 100%, 0 100%);


    height: 80vh;
    
}
header h1{
    color: rgba(255, 140, 0, 0.938);
    font-size: 200px;
    text-align: center;
    font-weight: 900;
    padding-top: 80px;
    font-family: cursive;
    word-spacing: 40pxpx;
    letter-spacing: 40px;
}

.essay, .cow-types{
    font-family: "Lato", sans-serif;
    width: 80%;
    margin: 50px auto 40px auto;
    padding: 40px;
}
.h2{
    text-align:center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 800;
    border: 3px dashed black;
    border-right: 0;
    border-left: 0;
    padding: 10px;

}
.essay p{
    text-align: justify;
}
.cow-type-pic img{
    width: 400px;
    border-radius: 10px;
}
.cow-type-pic{
    display: flex;
    justify-content: space-around;
    
}